
phase1/Calendar App/out/production/Calendar App/META-INF/Calendar App.kotlin_module
*.txt
/phase1/Calendar App/.idea/misc.xml
*.xml
phase1/Calendar App/.idea/misc.xml
markus-hooks/pre-commit
/.classpath
/.project
