.root {
   -fx-base: rgba(10, 10, 10, 255);
   -fx-shadow-highlight-color: rgba(92, 53, 171, 255);
   -fx-accent: rgba(92, 53, 171, 255);
   -fx-focus-color: rgba(92, 53, 171, 255);
}

.list-view .list-cell:odd {
    -fx-background-color: rgba(65, 65, 65, 255);
    -fx-text-fill: white;
}
.list-view .list-cell:even {
    -fx-background-color: rgba(60, 60, 60, 255);
    -fx-text-fill: white;
}
.list-view{
    -fx-background-color: rgba(62.5, 62.5, 62.5, 255);
}
.list-view:focused{
    -fx-background-color: rgba(62.5, 62.5, 62.5, 255);
}

.date-picker-popup{
   -fx-shadow-highlight-color: rgba(255, 255, 255, 255);
}